<?xml version="1.0"  encoding="ISO-8859-1"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure_9_0.dtd">

<Configure class="org.eclipse.jetty.webapp.WebAppContext">
	<Call name="addBean">
		<Arg>
			<New id="DeploymentManager" class="org.eclipse.jetty.deploy.DeploymentManager">
				<Set name="contexts">
					<Ref refid="Contexts" />
				</Set>
				<Call name="setContextAttribute">
					<Arg>org.eclipse.jetty.server.webapp.ContainerIncludeJarPattern
					</Arg>
					<Arg>.*/servlet-api-[^/]*\.jar$</Arg>
				</Call>

				<Call id="webappprovider" name="addAppProvider">
					<Arg>
						<New class="org.eclipse.jetty.deploy.providers.WebAppProvider">
							<Set name="monitoredDirName">
								<Property name="jetty.home" default="." />
								./webapps
							</Set>
							<Set name="defaultsDescriptor">
								<Property name="jetty.home" default="." />
								./etc/webdefault.xml
							</Set>
							<Set name="scanInterval">1</Set>
							<Set name="extractWars">true</Set>
						</New>
					</Arg>
				</Call>
			</New>
		</Arg>
	</Call>


	<servlet id="jsp">
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
			<param-name>logVerbosityLevel</param-name>
			<param-value>DEBUG</param-value>
		</init-param>
		<init-param>
			<param-name>fork</param-name>
			<param-value>>false</param-value>
		</init-param>
		<init-param>
			<param-name>keepgenerated</param-name>
			<param-value>>true</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	  
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.jspf</url-pattern>
		<url-pattern>*.jspx</url-pattern>
		<url-pattern>*.xsp</url-pattern>
		<url-pattern>*.JSP</url-pattern>
		<url-pattern>*.JSPF</url-pattern>
		<url-pattern>*.JSPX</url-pattern>
		<url-pattern>*.XSP</url-pattern>
	</servlet-mapping>

</Configure>